body{margin:0; padding: 0;background: url(../img/city.jpg); 
}

/* ::ng-deep.mat-dialog-container{padding:0 !important;} */
h4{font-weight: bold;}

::ng-deep #visitor .mat-form-field-label-wrapper {
    top: -1.7em;}
    .list li{font-size: 12px;}
    .card-body{margin: 12px 15px !important;}
    .table-striped{ padding:30px; font-size: 15px; border: 0;} 
    h1, h2, h3, h4, h5{ font-size: 21px;}
    .table-bordered {
        border: 1px solid #dee2e6;
    }
    
    /* .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        font-size: 13px;
        line-height: 21px;
    } */

    .table{
        width: 84%;
        margin-bottom: 1rem;
        color: #212529;
        font-size: 12px;
        line-height: 21px;
    }
    
    table {
        border-collapse: collapse;
    }
    .table-bordered thead th, .table-bordered thead td {
        border-bottom-width: 2px;
    }
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    .table-bordered th, .table-bordered td {
        border: 1px solid #dee2e6;
    }    
    .table-bordered th, .table-bordered td {
        border: 1px solid #dee2e6;
        padding: 7px;
    }
    .table th{background: rgb(5, 91, 169); width:15%; color: #fff;}
    .table-bordered th, .table-bordered td{border: 1px solid #dee2e6;
        padding: 1%;
        text-align: left;}

        h3{font-size:20px !important;}


       ::ng-deep input.mat-input-element {
            margin-top:0em !important;
        }
        ::ng-deep  .mat-form-field-appearance-outline .mat-form-field-flex{    padding: 0.2em 0.9em 0.5em !important;}
        .mat-form-field {
            font-size:14px !important;
        }

        #mat-dialog-8{ padding-bottom: 20px;}
        ::ng-deep   .mat-chip-list{float:right  !important;}
        ::ng-deep  .mat-dialog-actions{display: block  !important; text-align: center;}

        @media(max-width:699px){

            .containerX{min-height: 700px;}


        }

        .single-catagory-area {
            background-color: #f9f9f9;
            text-align: center;
            padding: 27px 15px;
            transition-duration: 500ms;
            margin-bottom: 15px;
            box-shadow: 2px 1px 5px #ccc;
        }
        .new-car{display:inline-block !important;}

        .newcar h2 {
            font-size: 20px;
            text-align: left;
            padding: 15px;
            color: #000;
            margin-top: 15px;
            font-weight: bold;
        }
        .new-car h2 {
            font-size: 20px;
            text-align: left;
            padding: 15px;
            color: #000;
            margin-top: 15px;
            font-weight: bold;
        }
        .new-car-b h2, h3{font-size:20px !important;
            text-align: left;
            padding: 15px 0;
            color: #000;
            margin-top: 15px;
            font-weight: bold;}
        .newcar p {
            font-size:13px  !important; 
            color: #463f3f;
            font-weight: normal;
            text-align: left;
            padding: 5px 0px;
            line-height:26px;
        }
        .new-car-b p {
            font-size:13px  !important; 
            color: #463f3f;
            font-weight: normal;
            text-align:center;
            padding: 5px 15px;
            line-height: 26px;
        }

        .nav-companies-tab h2,h3{font-size: 20px !important;
            text-align: left;
            padding: 15px;
            color: #000;
            margin-top: 15px;
            font-weight: bold;}
        .new-car p {
            font-size:13px  !important; 
            color: #463f3f;
            font-weight: normal;
            text-align: left;
            padding: 5px 15px;
            line-height:26px;
        }
        .list li {
            text-align: left;
    margin-left: 0px;
    padding: 5px 0;
    font-size: 13px;
    line-height: 26px;
        }

        .tp-car{max-width: 50%;
            font-size: 13px;}

            .tp-car p{ font-size: 13px;}

            .new-car img{width: 25%;}

            .new-car p{font-size: 12px;}

            #nav-companies p{    font-size: 13px;
                line-height: 26px;}
            @media (min-width:600px){
            .single-catagory-area {
                min-height: 277px;
                margin-right: 15px;
            }
          
           #about {padding-left: 20px;}
           
        }

            .catagory-content p{font-size: 13px;}
            .new-car{margin-right: 10px;}
            .new-car-b {margin-right: 10px;}

            .containerX {
                padding: 13px 2px 15px;
                box-sizing: content-box; }

                ::ng-deep .mat-horizontal-stepper-header-container {
                    position: absolute;
                    z-index: 9 !important;
                    top: 112px !important;
                    margin-left: 0px;
                    margin: auto;
                    left: 51.9% !important;
                }

                ::ng-deep .nav-companies-tab h2, h3{padding:0;}

                .nav-companies-tab h2, h3 {text-align: left;}

                ::ng-deep .home-page  .mat-expansion-panel {
                    background: #eef9f6;
                    color: rgba(0,0,0,.87);
                    margin-top: 15px !important;
                }

                
                ::ng-deep   .home-page   .mat-expansion-panel-header {
                    font-family: Roboto,"Helvetica Neue",sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                }

                .text-left{text-align: left;}
                .feature h3{text-align: center !important;} 

                @media(max-width:991px){
                    .mat-tab-group img{display: none;}
                    .newcar img{display: none;}
                   ::ng-deep .mat-tab-label{width:49px !important; min-width:max-content !important; margin-right: 10px !important;}
                        ::ng-deep   .mat-tab-label {
                         display: inline-block !important;
                    }
                    .newcar{max-width: 100% !important; padding:0px !important;}
                    .new-car{max-width: 100% !important; padding:0px !important;}
                    .tp-car{max-width: 100%;}
                    .newcar h2{padding:0 !important;}
                    .nav-companies-tab h2, h3{padding:0 !important; font-size: 13px !important;}
                    .feature h3 {
                        text-align:left !important;
                    }
                }