<div *ngIf="data.TYPE=='BREAKIN'">
	<h2 matDialogTitle>Inspection Booked</h2>
	<div mat-dialog-content>
	  <p>As your car policy has been already expired, an inspection booking will be initiated for your car after making this payment. Your policy will be issued from the Insurance Company after the car inspection. <br><br>
Would you like to proceed?</p>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button (click)="closeModal('N')" color="primary"  style="background:#fc5846;">No</button>
		<button mat-raised-button (click)="closeModal('Y')" color="primary"  style="background:#fc5846;">Yes</button>
	</div>
	
</div>
<div *ngIf="data.TYPE=='POSTOPUP'">
	<h2 matDialogTitle>TOPUP</h2>
	<div mat-dialog-content>
	  <p>You dont't have sufficient balance in your wallet. So please topup your wallet first and then proceed.</p>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button (click)="closeModal('N')" color="primary"  style="background:#fc5846;">Cancel</button>
		<button mat-raised-button (click)="closeModal('Y')" color="primary"  style="background:#fc5846;">TOPUP</button>
	</div>
	
</div>