:host ::ng-deep.mat-form-field-label-wrapper{top: -1.8em !important;
  margin-top: 2px;}
  :host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-top: 20px !important;
  }
  :host ::ng-deep .mat-expansion-panel-header-description{flex:none;}
  :host ::ng-deep.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 34px;
  width: 23px;
  margin-left: -12px;
  margin-right: 6px;
  font-size: 22px;
}
.pay-btn{
  color:black!important;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
:host ::ng-deep .mat-expansion-panel-header-description, .mat-expansion-panel-header-title{font-weight: bold;color: #470394;}
:host ::ng-deep .dob{position: absolute; font-weight: bold; color: #999; font-size: 11px;}
:host ::ng-deep.warn{margin:15px auto !important; display: inline-block;}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #F53100;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

:host ::ng-deep .mat-expansion-panel-header-title {
  font-weight: bold;
  color:#595858!important;
}
.loader-wrap{ 
  margin:-85px auto;
  left: 50%;
  text-align: center;
}
  .key small{color: grey;}
  .float-left{float:left;}.mat-icon{margin-top: 3px !important;}
  @media(min-width:992px){

    #Premium-row div{display:inherit !important;}
  #Premiums div{display:table-cell !important;}
  }
  
  :host ::ng-deep .item small{font-size: 13px !important; padding:0px 2px !important; text-transform: capitalize !important;}
  :host ::ng-deep .premuims div{font-size: 13px !important; text-align: left; padding-top:10px;}
  :host ::ng-deep.setLabelRed{
    color: red;
}

:host ::ng-deep.invisible{
  display: none;
}

.insurer{background: #fff;
  height: 117px;
  width: 72%;
  margin-right: 0px;
  margin-top: 0%;}
  .yourcar{    background: #e7e7e7;
    padding:2%;}

    .newpp .key small{float: right;}

    .sec3 .logo-panel .mat-icon {
      height: 19px;
      width: 20px;
      margin-left: -11px;
      margin-right: 1px;
      margin-top: -4px;
      text-align: center;
  }



@media (min-width: 601px){
.insurer {
    padding:10px 15px !important;
}
}

::ng-deep .cdk-overlay-container{
  pointer-events: unset !important;
}